h1, h3{
  font-family: $old-standard;
  font-weight: $smoky-black;
  font-weight: $black;
}

p{
  font-family: $raleway;
  font-weight: $regular;
}

h3{
  font-family: $old-standard;
  font-weight: $smoky-black;
  color: $white;
}

h5{
  font-family: $old-standard;
  font-weight: $regular;
  color: $white;
}

h6{
  font-family: $old-standard;
  font-weight: $regular;
  color: $smoky-black;
}
