$white: #FFF;
$isabelline: #ECECEC;
$ligt-gray:#D1D1D1;

$smoky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;

$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

$regular: 400;
$black: 700;

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
