/*.newsletter{
  grid-column: 1/-1;
  grid-row: 2/3;
  background-color: $smoky-black;
}
*/

.background{
  background-color: $smoky-black;
  grid-column: span 1;
  width: 80%;
  height: 130%;
}

.background h3{
  padding-top: 20px;
}


@media only screen and (max-width: 768px){
  .newsletter{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
